.container_header {
  background-color: #aaba9f;
  padding: 50px;
}
.btn_happen {
  width: 120px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  color: black;
}
.happen_gallery {
  display: flex;
}
.happen_gallery_img {
  height: 500px;
  width: 380px;
}
.happen_gallery_container {
  margin-right: 10px;
  width: 400px;
  background-color: #aaba9f;
}
.happen_gallery_header {
  padding: 20px;
  font-size: 25px;
}
.happen_gallery_content {
  padding: 20px;
}
.happen_gallery_link {
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .happen_gallery_container {
    width: 644px;
    height: auto;
  }
  .happen_gallery_img {
    width: 644px;
    height: auto;
  }
  .happen_gallery_container {
    display: none;
  }

  .happen_gallery_container:first-child {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  .container_header {
    width: 320px;
  }
  .happen_gallery_container {
    width: 280px;
    height: auto;
  }
  .happen_gallery_img {
    width: 280px;
    height: auto;
  }
}
